/Makefile
/Makefile.Debug
/Makefile.Release
/libopencv_calib3d310.dll
/libopencv_core310.dll
/libopencv_features2d310.dll
/libopencv_highgui310.dll
/libopencv_imgcodecs310.dll
/libopencv_imgproc310.dll
/libopencv_ml310.dll
/ui_imageviewerwidget.h
/ui_mainwindow.h
